uWSGI
Django==3.0.7
psycopg2
dj-database-url
django-model-utils
gunicorn
django-cors-headers
pydash
python-dateutil
requests
django_pgviews==0.5.0
pytz>=2017.2
django-import-export
django-widget-tweaks
djangorestframework
django-tz-detect
django-admin-rangefilter
djangorestframework-camel-case
djangorestframework-csv
djangorestframework-gis
xvfbwrapper
django_compressor
django-libsass
pyyaml==3.10
inflection
django-autocomplete-light
django-filter
arrow
django_cron
pillow
social-auth-app-django
djangorestframework-simplejwt
